body {

font-family: Arial, sans-serif;

background:#111;

color:white;

max-width:1000px;

margin:auto;

padding:60px;

}

nav{

margin-top:40px;

}

a{

color:#4fa7ff;

padding-right:25px;

text-decoration:none;

}

a:hover{

text-decoration:underline;

}
